apscheduler
loguru
sqlalchemy
Flask==1.0.2
flask-dance==2.0.0
Flask-SQLAlchemy
flask-login
flask-crontab
click==6.7
itsdangerous==0.24
Jinja2==2.10
uWSGI==2.0.17.1
Werkzeug==0.16.0
SQLAlchemy-Utils
flask_caching
pytest
